<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ brand.getName }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cabin:700|Source+Sans+Pro" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>{{ brand.getName }}</h1>
            </div>

            <h3>Current store availability:</h3>
            <ul>
                {% if brand_stores is not empty %}
                    {% for store in brand_stores %}
                        <li>{{ store.getName }}</li>
                    {% endfor%}
                {% else %}
                    <p>No store availability at this time</p>
                {% endif %}
            </ul>

                <h3>Add store for this brand</h3>

                <form action="/brands/{{brand.getId}}/edit" method="post">
                    <label for="store">Choose a store:</label>
                    <select id="store" name="store">
                        {% for store in stores %}
                        <option value="{{store.getId}}">{{ store.getName }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn" type="submit" name="button">Add store</button>
                </form>

                <a href="/"><button class="btn">Home</button></a>

        </div>
    </body>
</html>
