<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ store.getName }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cabin:700|Source+Sans+Pro" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="navbar">
                <ul class="nav-ul">
                  <li class="nav-li"><a href="/">Home</a></li>
                  <li class="nav-li"><a href="#">About</a></li>
                  <li class="nav-li"><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="jumbotron shoe-jumbo">
                <h1>{{ store.getName }}</h1>
            </div>

            <h3>Current brands available:</h3>
            <ul>
                {% if store_brands is not empty %}
                    {% for brand in store_brands %}
                        <li>{{ brand.getName }}</li>
                    {% endfor%}
                {% else %}
                    <p>No brands available at this time</p>
                {% endif %}
            </ul>

            <h3>Add brand to this store</h3>

            <form action="/stores/{{store.getId}}/edit" method="post">
                <label for="brand">Choose a brand:</label>
                <select id="brand" name="brand">
                    {% for brand in brands %}
                    <option value="{{brand.getId}}">{{ brand.getName }}</option>
                    {% endfor %}
                </select>
                <button class="btn" type="submit" name="button">Add brand to store</button>
            </form>

            <h3>Drop a brand from this store</h3>
            <form action="/drop_brand/{{store.getId}}" method="post">
                <label for="brand">Choose a brand:</label>
                <select id="brand" name="brand">
                    {% if store_brands is not empty%}
                        {% for brand in store_brands %}
                        <option value="{{brand.getId()}}">{{brand.getName}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <button type="submit" name="button">Drop brand</button>
            </form>
        </div>
    </body>
</html>
